// colors
$color-white: #ffffff;
$color-black: #000000;

$color-red-start: #e10000;
$color-red-end: #520000;
$color-red-light: #df0000;
$color-yellow: #ffe400;
$color-yellow-start: $color-yellow;
$color-yellow-end: #ff6500;
$color-dark-red: #960000;
$color-footer-red: #db0000;
$color-border-red: rgba(230, 40, 48, .5);
$color-dark-gray: #2a2a2a;
$color-gray: #929292;
$color-gray-very-light: #f2f2f2;
$color-grey-darken: #212121;
$color-grey-light: #5b5b5b;
$color-grey-light2: #cbcbcb;
$color-grey-light3: #7a7a7a;
$color-grey-light4: #e4e4e4;
$color-grey-light5: #595959;
$color-grey-light6: #7d7d7d;
$color-grey-dark: #2f2f2f;
$color-grey-dark2: #464646;
$color-grey-light7: #c7c7c7;
$color-grey-start: #383838;
$color-grey-end: $color-black;
$color-grid-red: #500000;
$color-grid-grey: $color-grey-end;
