<footer class="footer-region">
  <div class="grid-gradient_grey red-line">
    <div class="container">
      <div class="footer-wrapper row">
        <div class="footer-info col-6">
          <div class="row">
            <div class="col-6">
              <h4 class="footer-info__title font-weight_regular">Πως λειτουργεί;</h4>
              <div class="row footer-info__body-wrapper">
                <div class="footer-info__img col-4">
                  <img src="./img/question-mark.png" alt="question-mark">
                </div>
                <div class="footer-info__text col-8">
                  Επικοινωνήστε μαζί μας και μάθετε τι μπορεί να κάνει το Dealin για εσάς!
                </div>
              </div>
              <a href="#" class="footer-info__btn font-weight_bold">Συχνές ερωτήσεις » </a>
            </div>
            <div class="col-6">
              <h4 class="footer-info__title font-weight_regular">Έχετε επιχείρηση;</h4>
              <div class="row footer-info__body-wrapper">
                <div class="footer-info__img col-4">
                  <img src="./img/business.png" alt="business">
                </div>
                <div class="footer-info__text col-8">
                  Επικοινωνήστε μαζί μας και μάθετε τι μπορεί να κάνει το Dealin για εσάς!
                </div>
              </div>
              <a href="#" class="footer-info__btn font-weight_bold">Περισσότερες πληροφορίες »</a>
            </div>
          </div>
        </div>
        <div class="footer-navigation col-6">
          <div class="row">
            <div class="col-6">
              <h4 class="footer-navigation__title font-weight_regular">Dealin</h4>
              <ul>
                <li><a href="#" class="footer-navigation__link">Ποιοι είμαστε</a></li>
                <li><a href="#" class="footer-navigation__link">Terms of Use</a></li>
                <li><a href="#" class="footer-navigation__link">Privacy Policy</a></li>
                <li><a href="#" class="footer-navigation__link">Copyright</a></li>
                <li><a href="#" class="footer-navigation__link">Skype chat</a></li>
              </ul>
            </div>
            <div class="col-6">
              <h4 class="footer-navigation__title font-weight_regular">Μy Dealin</h4>
              <ul>
                <li><a href="#" class="footer-navigation__link">O Λογαριασμός μου</a></li>
                <li><a href="#" class="footer-navigation__link">Οι αγορές μου</a></li>
                <li><a href="#" class="footer-navigation__link">FAQ</a></li>
                <li><a href="#" class="footer-navigation__link">Είσοδος / Εγγραφή</a></li>
                <li><a href="#" class="footer-navigation__link">Επικοινωνία</a></li>
                <li><a href="#" class="footer-navigation__link">Κατάθεση σε τράπεζα</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
