<header class="header-region container">
  <div class="row">
    <div class="navbar-brand col-5">
      <span>Deal</span>
      <span>iN</span>
      <span>gr</span>
    </div>
    <nav class="top-menu col-5">
      <ul>
        <li><a href="#" class="top-menu__link">Εγγραφή/Είσοδος</a></li>
        <li><a href="#" class="top-menu__link">login</a></li>
        <li><a href="#" class="top-menu__link">Επικοινωνία</a></li>
        <li><a href="#" class="top-menu__link">Συνεργάτες</a></li>
      </ul>
    </nav>
  </div>
</header>
